<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninjas - About</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/">Blog Ninjas</a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta at harum tempora ducimus natus a molestiae saepe animi eveniet odit cumque alias voluptatem, dolorum ipsa dolore optio itaque vel! Quasi.</p>
    </div>
</body>
</html>